{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}
    {{ article.title }} - {{ 'monsieurbiz_blog.ui.blog'|trans }} {{ parent() }}
{% endblock %}

{% block metatags %}
    {% include '@MonsieurBizSyliusBlogPlugin/Shop/Article/_structured_data.html.twig' %}
{% endblock %}

{% block content %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('monsieurbiz_blog_index') }}" class="section">{{ 'monsieurbiz_blog.ui.blog'|trans }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ article.title }}</div>
    </div>

    <div class="ui stackable grid">
        <div class="sixteen wide column">
            <div class="ui">
                <div class="ui header center aligned">
                    <div>
                        {% for tag in article.tags %}
                            <a href="{{ path('monsieurbiz_blog_tag_show', { 'slug': tag.slug }) }}">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    </div>
                    <h1 class="ui huge">
                        {{ article.title }}
                    </h1>
                    {% if article.authors|length %}
                        <div class="ui list">
                            {% for author in article.authors %}
                                <div class="item">
                                    <div class="content">
                                        <div class="header">
                                            {{ author.name }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui fluid image">
                    {% include '@MonsieurBizSyliusBlogPlugin/Shop/Article/_image.html.twig' with {'filter': 'monsieurbiz_blog_image_large_thumbnail'} %}
                </div>
                <div class="ui hidden divider"></div>
                <div>
                    <div class="ui meta">
                        <span class="date">{{ article.publishedAt|format_date() }}</span>
                    </div>
                    <div class="ui description">
                        {{ article.content|monsieurbiz_richeditor_render_field }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

