{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}
    {{ article.title }} - {{ 'monsieurbiz_blog.ui.blog'|trans }} {{ parent() }}
{% endblock %}

{% block metatags %}
    {% include '@MonsieurBizSyliusBlogPlugin/Shop/Article/_structured_data.html.twig' %}
{% endblock %}

{% block content %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('monsieurbiz_blog_index') }}" class="section">{{ 'monsieurbiz_blog.ui.blog'|trans }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ article.title }}</div>
    </div>

    <div class="ui stackable grid">
        <div class="sixteen wide column">
            <div class="ui">
                <div class="ui header center aligned">
                    <h1 class="ui huge">
                        {{ article.title }}
                    </h1>
                    <div class="ui">
                        <span>{{ article.publishedAt|format_date() }}</span>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                <div style="width:100%; text-align:center;">
                    <div class="ui medium image rounded">
                        {% include '@MonsieurBizSyliusBlogPlugin/Shop/Article/_image.html.twig' with {'filter': 'monsieurbiz_blog_image_large_thumbnail'} %}
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                <div>
                    <div class="ui">
                        {{ article.content|monsieurbiz_richeditor_render_field }}
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                {% if article.tags|length %}
                    <div class="ui labels">
                        {% for tag in article.tags %}
                            <a href="{{ path('monsieurbiz_blog_tag_show', { 'slug': tag.slug }) }}" class="ui label">
                                {{ tag.name }}&nbsp;&nbsp;
                                <i class="tag icon"></i>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if article.authors|length %}
                    <div class="ui labels">
                        {% for author in article.authors %}
                        <div class="ui label blue">
                            {{ author.name }}&nbsp;&nbsp;
                            <i class="user icon"></i>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

