{% extends '@SyliusShop/layout.html.twig' %}

{# Manage folder for templates #}
{% if templateDir is not defined %}
    {% set templateDir = 'Article' %}
{% endif %}

{# Set the `case_study` as article #}
{% set article = resource %}

{# We use plural only for case studies, else is blog #}
{% set type = configuration.parameters.get('parameters')['type'] ?? constant('MonsieurBiz\\SyliusBlogPlugin\\Entity\\ArticleInterface::BLOG_TYPE') %}
{% if type == constant('MonsieurBiz\\SyliusBlogPlugin\\Entity\\ArticleInterface::CASE_STUDY_TYPE') %}
    {% set type = metadata.pluralName %}
{% endif %}

{% block title %}
    {{ article.title }} - {{ ('monsieurbiz_blog.ui.' ~ type)|trans }} {{ parent() }}
{% endblock %}

{% block metatags %}
    {% include '@MonsieurBizSyliusBlogPlugin/Shop/' ~ templateDir ~'/_metadata.html.twig' %}
    {% include '@MonsieurBizSyliusBlogPlugin/Shop/' ~ templateDir ~'/_structured_data.html.twig' %}
{% endblock %}

{% block content %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('monsieurbiz_' ~ type ~ '_index') }}" class="section">{{ ('monsieurbiz_blog.ui.' ~ type)|trans }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ article.title }}</div>
    </div>

    <div class="ui stackable grid">
        <div class="sixteen wide column">
            <div class="ui">
                <div class="ui header center aligned">
                    <h1 class="ui huge">
                        {{ article.title }}
                    </h1>
                    <div class="ui">
                        <span>{{ article.publishedAt|format_date() }}</span>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                <div style="width:100%; text-align:center;">
                    <div class="ui medium image rounded">
                        {% include '@MonsieurBizSyliusBlogPlugin/Shop/' ~ templateDir ~'/_image.html.twig' with {'filter': 'monsieurbiz_blog_image_large_thumbnail'} %}
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                <div>
                    <div class="ui">
                        {{ article.content|monsieurbiz_richeditor_render_field }}
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                {% if article.tags|length %}
                    <div class="ui labels">
                        {% for tag in article.tags %}
                            <a href="{{ path('monsieurbiz_' ~ type ~ '_tag_show', { 'slug': tag.slug }) }}" class="ui label">
                                {{ tag.name }}&nbsp;&nbsp;
                                <i class="tag icon"></i>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if article.authors|length %}
                    <div class="ui cards">
                        {% for author in article.authors %}
                            <div class="card">
                                <div class="content">
                                    {% include '@MonsieurBizSyliusBlogPlugin/Shop/Author/_image.html.twig' with {'filter': 'monsieurbiz_author_image_small_thumbnail', 'classes': 'ui avatar image'} %}
                                    {{ author.name }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

