{#
UI Element template
type: articles_selection
element fields :
    title
    display
    articles
    btnLabel
    btnUrl
element methods:
    getArticles
#}

{% set articles = ui_element.getArticles(element) %}
{% set display = element.display.display %}

{% if articles|length > 0 %}
    <div class="ui two column grid">
        <div class="row">
            <div class="column">
                {% if element.title|default('') is not empty %}
                    <div class="ui huge header">
                        {{ element.title }}
                    </div>
                {% endif %}
            </div>
            <div class="right aligned column">
                {% if element.btnUrl|default('') is not empty and element.btnLabel|default('') is not empty %}
                    <a class="ui button" href="{{ element.btnUrl }}">
                        {{ element.btnLabel }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if display == constant('MonsieurBiz\\SyliusBlogPlugin\\Form\\Type\\ArticlesDisplayType::MULTIPLE_WITH_IMAGE') %}
        <div class="ui three cards">
            {% for article in articles %}
                <div class="ui card">
                    <div class="image">
                        {% include '@MonsieurBizSyliusBlogPlugin/Admin/Article/_image.html.twig' with { 'article' : article, isThumbnail: true } %}
                    </div>
                    <div class="content">
                        <a class="ui header">{{ article.title }}</a>
                        {% if article.description|default('') is not empty %}
                            <div>
                                {{ article.description }}
                            </div>
                        {% endif %}
                        <div class="extra content">
                            <a class="ui button" href="{{ path('monsieurbiz_blog_article_show', {'slug': article.slug}) }}">
                                {{ 'monsieurbiz_blog.ui.read_more'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% elseif display == constant('MonsieurBiz\\SyliusBlogPlugin\\Form\\Type\\ArticlesDisplayType::MULTIPLE_WITHOUT_IMAGE') %}
        <div class="ui three cards">
            {% for article in articles %}
                <div class="ui card">
                    <div class="content">
                        <a class="ui header">{{ article.title }}</a>
                        {% if article.description|default('') is not empty %}
                            <div>
                                {{ article.description }}
                            </div>
                        {% endif %}
                        <div class="extra content">
                            <a class="ui button" href="{{ path('monsieurbiz_blog_article_show', {'slug': article.slug}) }}">
                                {{ 'monsieurbiz_blog.ui.read_more'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% elseif display == constant('MonsieurBiz\\SyliusBlogPlugin\\Form\\Type\\ArticlesDisplayType::SINGLE') %}
        <div>

        </div>
        <div class="ui one cards">
            {% for article in articles %}
                <div class="ui card">
                    <div class="ui two column grid">
                        <div class="row">
                            <div class="column">
                                <div class="ui image">
                                    {% include '@MonsieurBizSyliusBlogPlugin/Admin/Article/_image.html.twig' with { 'article' : article, isThumbnail: true } %}
                                </div>
                            </div>
                            <div class="content column">
                                <a class="ui header">{{ article.title }}</a>
                                {% if article.description|default('') is not empty %}
                                    <div>
                                        {{ article.description }}
                                    </div>
                                {% endif %}
                                <div class="extra content">
                                    <a class="ui button" href="{{ path('monsieurbiz_blog_article_show', {'slug': article.slug}) }}">
                                        {{ 'monsieurbiz_blog.ui.read_more'|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif%}
{% endif %}
